.ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cell {
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid #cecccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-revealved {
  background: #3f51b5a6;;
}

.form-container {
  margin: 20px;
  padding: 20px;
}